div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


#all {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    height: 80vh;
    width: 80%;
}

#left {
    float: left;
    height: 79vh;
}

#right {
    float: right;
    width: calc(100% - 310px);
    height: 79vh;
}   

#avatar {
    width:300px;
    height:300px;
}

.navlink {
    margin-top: 1em;
    padding: 0;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

#highlighted-navlink {
    font-size: 20px;
}

#content {
    height: 100%;
}
