/*
#112
#224
#69e
#f81
*/

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
}
body {
  opacity: 0;
  text-align: center;
}


#content {
    width: 100%;
    height: 100%;
    background-color: #;
}
#leader {
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
}


#header a {
  margin: 0 1em;
}

.center-bumper {
  height: calc(50% - 8em);
}

.center {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 20em;
}

/*div {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}
*/
#leader {
  display: inline-block;
}

#header {
  position: relative;
  margin: 100px auto 0px auto;
  width: 50%;
}

#content {
  position: relative;
  margin: 25px auto;
  top: 0px;
  width: 70%;
}

#content div {
  text-align: left;
}

#projects {
  float: left;
  width: 70%;
}

#blog {
  float: right;
  width: 30%;
}

#footer {
  position: absolute;
  left: calc(50% - 150px);
  bottom: 0px;
  width: 300px;
}

#profile {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

#wrapper {
  margin: 10px;
}

#main-projects {
  width: 100%;
  margin-left: 2%;
  font-size: 14pt;
}

#main-projects a {
  font-size: 18pt;
}
