h3 {
    padding-left: 40%;
    font-weight: normal;
}

h2 {
    padding-left: 4em;
    padding-top: 4em;
    padding-bottom: 1em;
    margin: 0;
}

p {
    padding-left: 3em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 0em;
    margin: 0;
}

a:link {/* unvisited link */
    color: black; 
    text-decoration: none;
}      
a:visited {/* visited link */
    color: #440000;
    text-decoration: none;
}  
a:hover {/* mouse over link */
    color:#AA6655;
    text-decoration: none;
}  
a:active {/* selected link */
    color:#993322;
    text-decoration: none;
}  
