/*
font-family: 'Vollkorn', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;

#112
#223
#58d
#d71

*/

body {
  font-family: 'Open Sans', sans-serif;
  color: #446;
}


a {
    text-decoration: none;
    color: #c71;
}


hr {
    border-width: 1px;
    border-type: solid;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}



h2 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  float: left;
}
