---
layout: default
title: Victor Jiao - Home
---
<div id="header">
    <h1>Victor Jiao</h1>
    <hr/>
    <a id="profile-l" href="/profile.html">Profile</a>
    <a id="projects-l" href="/projects.html">Projects</a>
    <a id="blog-l" href="/blog.html">Blog</a>
</div>
<div id="content">
    <div id="profile">
        <div id="wrapper">
            <p>
                Hi, I'm {{ site.data.profiles.name }}. I'm currently
                a student at {{ site.data.profiles.school }}, aiming
                to graduate in {{ site.data.profiles.graduatingYear }}
                with a {{ site.data.profiles.degree }} in
                {{ site.data.profiles.major }}. In my free time, I love
                {{ site.data.profiles.hobbies }}
                <a href="http://github.com/VjiaoBlack">making cool things</a>, and
                <a href={{site.data.profiles.voices}}>singing a cappella</a>.
            </p>
        </div>
    </div>

    <div id="projects">
        <div id="wrapper">
            <p>
                Projects of various degrees of completion
            </p>
                {% for project in site.data.projects %}
            <p>

                    <a href="{{ project.url }}">{{ project.name }}</a>
                    -
                    <span>{{ project.desc }}</span>

                    {% if project.collab %}
                        team members: me
                        {% for teammate in project.collab %}
                            ,   {{teammate.name}}

                        {% endfor %}

                    {% endif %}
            </p>

                {% endfor %}
        </div>
    </div>

    <div id="blog">
        <div id="wrapper">

            <p>
                Things that have been happening
            </p>

                {% for post in site.posts %}
            <p>

                    <span>{{ post.date | date: "%b %e" }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
            </p>

                {% endfor %}
        </div>
    </div>


</div>

<div id="footer">
afsd
</div>
