---
layout: default
---
<link rel="stylesheet" type="text/css" href="css/projects.css">

{% assign project_list = site.projects | sort: 'date' | reverse %}
{% for project in project_list %}
<div class="project">
    <div class="title">
        <a href="{{ project.link }}"><h3>{{ project.title }}</h3></a>
        &ensp;
        &ensp;

        {% for lang in project.languages %}
            <span> {{ lang }} </span>
            &ensp;

        {% endfor %}
        &ensp;


        {% for coder in project.collaborators %}
            <a href="http://github.com/{{ coder.github }}"><span class="name">{{ coder.name }}</span></a>
            &ensp;
        {% endfor %}

    </div>

    <p>
        {{ project.description }}
    </p>
</div>

{% endfor %}


<div class="project">
    <div class="title">
        <a href="https://github.com/VjiaoBlack"><h3>other projects</h3></a>
        &ensp;
        &ensp;
        <span>C/C++</span>
        &ensp; <!-- tab -->
        <span>Java</span>
        &ensp; <!-- tab -->
        <span>HTML/CSS</span>
        &ensp; <!-- tab -->
        <span>Javascript</span>
        &emsp; <!-- tab -->
    </div>

    <p>
        Check out my other work here!
        I have projects ranging from iOS geofencing apps in Objective C to
        data-visualization websites to tile-based RPG games in C++.
        If you've heard or seen me mention something that's not on here,
        it's probably a project I did for school or for work that I'm not
        allowed to show the source code for. Feel free to send me an email
        so we can talk about it!
    </p>
</div>

