<!DOCTYPE html>
<html>
    <head>
        <title>Victor Jiao - {{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <div id="background">
        
      </div>
      <div id="all">
        <div id="left">
          <div id="avatar">

          </div>
          <div id="navigation">
            <div class="navlink" id="highlighted-navlink">
              <a href="/">VjiaoBlack</a>
            </div>
            <div class="navlink">
              <a href="/about.html">About</a>
            </div>
            <div class="navlink">
              <a href="/projects.html">Projects</a>
            </div>
            <div class="navlink">
              <a href="/blog.html">Blog</a>
            </div>
            <div class="navlink">
              <a href="/contact.html">Contact</a>
            </div>
          </div>
        </div>

        <div id="right">
          <div id="content">
            {{ content }}
          </div>

        </div>
      </div>

    </body>
</html>
