<DOCTYPE! html>
<head>
    <title>Victor Jiao</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="shortcut icon" type="image/png" href="/res/green_dot.png">
    <script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/scripts/default.js"></script>
</head>
<body>
    <div id="content">
        <div id="sidebar">
            <a class="black" href="index.html"><h1 id="name">Victor Jiao</h1></a>
            <h4 id="desc-first">
                Software Developer
            </h4>
            <h4 id="desc-second">
                Computer Scientist
            </h4>
            <h4 id="desc-third">
                Musician
            </h4>

            <a href="projects.html"><h2 id="projects">Projects</h2></a>
            <br>
            <a href="blog.html"><h2 id="blog">Blog</h2></a>
            <br>

            <section id="contact">
                <h2>Contact</h2>
                <a href="mailto:victorjiao@uchicago.edu"><h4>victorjiao@uchicago.edu</h4></a>
                <a href="http://www.github.com/VjiaoBlack"><h4>github.com/VjiaoBlack</h4></a>
                <a href="http://www.soundcloud.com/victor-jiao"><h4>soundcloud.com/victor-jiao</h4></a>
            </section>
        </div>




        <div id="body">

            {{ content }}


        </div>


    </div>




</body>
</html>
